.container {
    width: 83%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    position: relative;

    .headerContainer {
        position: relative;
        display: flex;

        margin-bottom: 60px;
    }

    .productContainer {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }
}