@use '../styles.scss';

.container {
    width: 83%;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    position: relative;

    .whislistContainer,
    .just4uContainer {
        margin-top: 80px;
        display: flex;
        width: 100%;
        flex-direction: column;

        position: relative;

        .headerContainer {
            height: 60px;
            margin-bottom: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                @include styles.font-poppins-regular(20px);

            }

            .moveToBag {
                width: 20%;
                height: 60px;
                border: 1.5px solid rgba(0, 0, 0, 0.5);
                border-radius: 4px;
                @include styles.font-poppins-medium(16px);
                float: right;
            }
        }

        .navigation {
            position: relative;
        }

        .spacing {
            margin-top: 36px;
        }

        .productContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-grow: 1;
        }
    }

}